/* progress */

.fl-progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: white;
	opacity: 1;
	visibility: visible;
	transition-property: visibility, opacity;
	transition-duration: 1s;
	z-index: 9999999999999;
}

.fl-progress.fl-progress-is-ended {
	opacity: 0;
	visibility: hidden;
}

.fl-progress-copyright {
	background-color: #fe4e2b;
	color: #fff;
	padding: 1rem;
	font-family: Poppins, Verdana;
	position: absolute;
	bottom: 1rem;
	font-size: 14px;
	line-height: 24px;
	z-index: 10;
	letter-spacing: 2px;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

/* the-end-of-progress */