// -btn-rotate-
.btn-rotate {
    transition: all .5s;
}

@media (hover: hover) {
    .btn-rotate:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.btn-rotate:active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

// -growing-overlay-
.growing-overlay-container {
    position: relative;
}

.growing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightopacitiedblack;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.growing-overlay-icon {
    color: $orange;
}

@media (hover: hover) {
    .growing-overlay-container:hover .growing-overlay {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.growing-overlay-container:active .growing-overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
}

// -rotate-icon-
.rotate-icon i {
    transition: all .5s;
}

@media (hover: hover) {
    .rotate-icon:hover i{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.rotate-icon:active i{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*-rotate-animation-*/
.rotate-animation {
	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-duration: 2s;
  	animation-direction: alternate;
  	animation-delay: 0s;
  	animation-name: rotateAnimation;
}

@keyframes rotateAnimation { 

	from { transform: rotateY(0deg); } 

	to { transform: rotateY(360deg); } 

}

// -overlay-on-hover-
.overlay-on-hover {
    position: relative;
    cursor: pointer;
}

.overlay-on-hover::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $opacitiedblack;
    opacity: 0;
    transition: opacity .5s;
    z-index: 101;
}

@media (hover: hover) {
    .overlay-on-hover:hover::before {
        opacity: 1;
    }
}

.overlay-on-hover:active::before {
    opacity: 1;
}

// -grow-img-on-hover-
.grow-img-on-hover img {
    transition: all .5s;
    position: relative;
    z-index: 1;
}

@media (hover: hover) {
    .grow-img-on-hover:hover img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}

.grow-img-on-hover:active img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}