$orange: #fe4e2b;
$white: #ffffff;
$transparentforblack: rgba(24,24,24,0);
$black: rgba(24,24,24,1);
$opacitiedblack: rgba(24,24,24,.6);
$lightopacitiedblack: rgba(24,24,24,.4);
$darkblack: #000000;
$verylightgrey: #e7f0f3;
$lightgrey: #afb9bd;
$lightgrey2: #dee2e6;
$darkgrey: #848484;
$lightblue: #e6eff3;