/* fonts */

/* -futura-pt- */
@font-face {
	font-family: "Futura PT Light";
	src: url("../fonts/Futura-PT/FuturaPTLight.otf")  format('truetype');
}

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura-PT/FuturaPTMedium.otf")  format('truetype');
	font-weight: normal; 
}

@font-face {
	font-family: "Futura PT";
	src: url("../fonts/Futura-PT/FuturaPTBold.otf")  format('truetype');
	font-weight: bold; 
}

/* -great-vibes- */
@font-face {
	font-family: "Great Vibes";
	src: url("../fonts/great-vibes/GreatVibes-Regular.ttf")  format('truetype');
}

/* the-end-of-fonts */


/* font-families */
.ff-futura-pt, body, .text-btn, .btn-1, .bigger-title, .bigger-text, .bigger-title-2,
.bigger-title-3, .bigger-text-3, .bigger-text-4, .smaller-title, .smaller-title-2,
.text-btn-3, .full-screen-text, .bigger-title-4, .btn-2 {
    font-family: "Futura PT", sans-serif;
}

.normal-text, .bigger-text-2, .bigger-text-5, .input, .bigger-text-6, 
.ant-form-container *, .smaller-text  {
    font-family: "Futura PT Light", sans-serif;
}

.ff-great-vibes, .bigger-cursive-title, .small-cursive-title, .smaller-cursive-title {
    font-family: "Great Vibes", cursive;
}

/* the-end-of-font-families */	


/* sizes */

.small-font {
	font-size: 12px !important;
}

/* the-end-of-sizes */