@use "colors";

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin setPosition($position: relative, $top, $bottom, $right, $left) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin setSize($width: 100vw, $height: 100vh) {
    width: $width;
    height: $height;
}

.greeting {
    background-color: colors.$red;
    color: white;
    width: 100%;
    padding: 3rem 0;
    @extend .center;
    // @include setPosition(fixed, 0, unset, unset, 0);
    @include setSize();
}